In [39]:
import pandas as pd
import numpy as np
import yfinance as yf

#### Getting the data

In [40]:
symbol = input("Enter the symbol you want to analyze: ")

In [41]:
ticker = yf.Ticker(symbol)

In [42]:
Balance_sheet = ticker.balance_sheet.transpose()
Income_statement = ticker.income_stmt.transpose()

#### Calculating P/E ratio
    - using diluted EPS

In [43]:
latest_price = float(ticker.history(period='1d')['Close'].values[-1])

In [44]:
ratios = latest_price / Income_statement['Diluted EPS']

In [45]:
ratios = pd.DataFrame(ratios)
ratios.rename({'Diluted EPS': 'P/E ratio'}, axis =1, inplace=True )

#### Calculating price/Book ratio

In [46]:
market_capitalization = Balance_sheet['Ordinary Shares Number'] * latest_price
# calculating net book value 
current_liabilities = Balance_sheet['Current Liabilities'] + Balance_sheet['Other Current Liabilities'] + Balance_sheet['Current Deferred Liabilities']
non_current_liabilities = Balance_sheet['Non Current Deferred Liabilities'] + Balance_sheet['Other Non Current Liabilities'] + Balance_sheet['Non Current Deferred Liabilities']
Balance_sheet['Total Liabilities'] = current_liabilities + non_current_liabilities
Net_book_value = Balance_sheet['Total Assets'] - Balance_sheet['Total Liabilities'] - Balance_sheet['Total Equity Gross Minority Interest']

In [47]:
ratios['Price/Book'] = market_capitalization / Net_book_value

In [48]:
ratios

            P/E ratio  Price/Book
2023-06-30   45.15599  287.817969
2022-06-30  45.296372  142.564515
2021-06-30  54.299377  106.404752
2020-06-30   75.88715   70.009725

#### calculating Dividend Yield

In [49]:
ticker =yf.Ticker(symbol)
Dividends = ticker.dividends

In [50]:
Dividends = pd.DataFrame(pd.to_datetime(Dividends.index), Dividends.values ).reset_index()
Dividends.set_index('Date', inplace=True)
Dividends.rename({'index': 'Quarterly dividends'}, axis = 1, inplace=True)
Dividends = Dividends.groupby(Dividends.index.year)['Quarterly dividends'].sum()
Dividends = pd.DataFrame(Dividends)
Dividends.rename({'Quarterly dividends' : 'Yearly dividends'}, axis=1, inplace=True)
Dividends.sort_index(ascending=False, inplace=True)
Dividends.head()

      Yearly dividends
Date
2024              1.50
2023              2.79
2022              2.54
2021              2.30
2020              2.09

In [51]:
Dividends['Dividend yields(%)'] = (Dividends['Yearly dividends'] / latest_price) * 100
Dividends.drop('Yearly dividends', axis =1, inplace=True)
Dividends.head()

      Dividend yields(%)
Date
2024            0.343163
2023            0.638283
2022            0.581089
2021            0.526183
2020            0.478141

In [52]:
ratios = ratios.merge(Dividends, left_on=ratios.index.year, right_on=Dividends.index)
ratios.rename({'key_0' : 'Year'}, axis=1, inplace=True)
ratios.set_index('Year', inplace=True)
ratios

      P/E ratio  Price/Book  Dividend yields(%)
Year
2023   45.15599  287.817969            0.638283
2022  45.296372  142.564515            0.581089
2021  54.299377  106.404752            0.526183
2020   75.88715   70.009725            0.478141

####