In [51]:
import pandas as pd
import numpy as np
import yfinance as yf

#### Getting the data

In [52]:
symbol = input("Enter the symbol you want to analyze: ")
ticker = yf.Ticker(symbol)

In [53]:
Balance_sheet = ticker.balance_sheet.transpose()
Income_statement = ticker.income_stmt.transpose()

In [54]:
latest_price = float(ticker.history(period='1d')['Close'].values[-1])

#### Calculating EV/Revenue ratio

In [55]:
equity_value = Balance_sheet['Ordinary Shares Number'] * latest_price
enterprise_value = equity_value + Balance_sheet['Net Debt']

In [56]:
ratios = enterprise_value / Income_statement['Total Revenue']

In [57]:
ratios=pd.DataFrame(ratios, columns=['EV/Revenue'])
ratios

           EV/Revenue
2023-06-30   15.38888
2022-06-30  16.636097
2021-06-30  19.814335
2020-06-30  23.487821

#### Calculate EV/EBITDA ratio

In [58]:
ratios['EV/EBITDA'] = enterprise_value / Income_statement['EBITDA']
ratios

           EV/Revenue  EV/EBITDA
2023-06-30   15.38888  31.017067
2022-06-30  16.636097  32.905745
2021-06-30  19.814335  39.121291
2020-06-30  23.487821  49.093298

#### Calcuate EV/Invested Capital ratio

In [59]:
ratios['EV/Invested Capital'] = enterprise_value / Balance_sheet['Invested Capital']
ratios

           EV/Revenue  EV/EBITDA EV/Invested Capital
2023-06-30   15.38888  31.017067           12.866466
2022-06-30  16.636097  32.905745            15.24775
2021-06-30  19.814335  39.121291            16.64161
2020-06-30  23.487821  49.093298           18.494149

In [60]:
ratios.index = ratios.index.year
ratios.index.name = 'Year'
ratios

     EV/Revenue  EV/EBITDA EV/Invested Capital
Year
2023   15.38888  31.017067           12.866466
2022  16.636097  32.905745            15.24775
2021  19.814335  39.121291            16.64161
2020  23.487821  49.093298           18.494149

##### Save the multiples by company name

In [61]:
company_name = yf.Ticker(symbol).info['longBusinessSummary'].split()[0]

In [62]:
ratios.to_csv(f'{company_name} EV-multiples.csv')