In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

#### Getting the data

In [6]:
symbol = input("Enter the symbol you want to analyze: ")
ticker = yf.Ticker(symbol)

In [7]:
Balance_sheet = ticker.balance_sheet.transpose()
Income_statement = ticker.income_stmt.transpose()

In [8]:
latest_price = float(ticker.history(period='1d')['Close'].values[-1])

#### Calculating EV/Revenue ratio

In [28]:
equity_value = Balance_sheet['Ordinary Shares Number'] * latest_price
enterprise_value = equity_value + Balance_sheet['Net Debt']

In [29]:
ratios = enterprise_value / Income_statement['Total Revenue']

In [30]:
ratios=pd.DataFrame(ratios, columns=['EV/Revenue'])
ratios

           EV/Revenue
2023-06-30   15.38888
2022-06-30  16.636097
2021-06-30  19.814335
2020-06-30  23.487821

#### Calculate EV/EBITDA ratio

In [31]:
ratios['EV/EBITDA'] = enterprise_value / Income_statement['EBITDA']
ratios

           EV/Revenue  EV/EBITDA
2023-06-30   15.38888  31.017067
2022-06-30  16.636097  32.905745
2021-06-30  19.814335  39.121291
2020-06-30  23.487821  49.093298